/*****************************************************************************
 * base
 *
 *  Foundational initialization of core elements.
 *
 *****************************************************************************/

/**
 * body
 */
body {
  font-family: $ff-base;
  font-weight: $fw-light;
  font-size: 1.125rem;
  line-height: 1.56;
  color: var(--clr-neutral-900);
}

/**
 * img
 */
img {
  width: 100%;
}
